@import '../imports/stylesheets/fonts.less';

@purple: #2e2d4d;
@orange: #ed7d3a;
@aboutContainerSize: 32vw;
@mainContainerLeft: 35vw;

.container {
	font-family: "Inconsolata";
	overflow: hidden;

	.orange {
		color: @orange;
	}

	.purple {
		color: @purple;
	}

	.about-container {
		background-color: #ffffff;
		position: absolute;
		height: 100%;
		width: @aboutContainerSize;
		left: 0;
		top: 0;
	}

	.footer {
		font-size: 11pt;
		line-height: 12.8pt;
		width: 400px;
		position: absolute;
    	bottom: 35px;
    	left: @mainContainerLeft;
	}

	.message-container {
		position: absolute;
		left: @mainContainerLeft;
		top: 40vh;
		font-size: 11pt;
		line-height: 12.8pt;

		.tiny {
			font-size: 9pt;
			opacity: .5;
		}

		.message {
			color: @orange;
			&.purple {
				color: @purple;
			}
			&.orange {
				color: @orange;
			}
			font-size: 11pt;
			line-height: 12.8pt;
			width: 400px;
		}

		.cursor {
			width: 2px;
			height: 15px;
			display: inline-block;
			margin-left: 3px;
			margin-bottom: -2px;
			background-color: @orange;
			&.purple {
				background-color: @purple;
			}
			&.orange {
				background-color: @orange;
			}
		}
	}
}